
*.pyc
framework.log
framework/__pycache__/__init__.cpython-36.pyc
framework/Aerodynamics/__pycache__/__init__.cpython-36.pyc
framework/Aerodynamics/__pycache__/aerodynamic_coefficients_ANN.cpython-36.pyc
framework/Aerodynamics/__pycache__/airfoil_parameters.cpython-36.pyc
framework/Aerodynamics/__pycache__/drag_coefficient_flap.cpython-36.pyc
framework/Aerodynamics/__pycache__/drag_coefficient_landing_gear.cpython-36.pyc
framework/Attributes/__pycache__/__init__.cpython-36.pyc
framework/Attributes/Airspeed/__pycache__/airspeed.cpython-36.pyc
framework/Attributes/Atmosphere/__pycache__/__init__.cpython-36.pyc
framework/Attributes/Atmosphere/__pycache__/atmosphere.cpython-36.pyc
framework/Attributes/Atmosphere/__pycache__/atmosphere_ISA_deviation.cpython-36.pyc
framework/Attributes/Atmosphere/__pycache__/fair.cpython-36.pyc
framework/Attributes/Geo/__pycache__/__init__.cpython-36.pyc
framework/Attributes/Geo/__pycache__/bearing.cpython-36.pyc
framework/Database/Aircrafts/__pycache__/__init__.cpython-36.pyc
framework/Database/Aircrafts/__pycache__/baseline_aircraft_parameters.cpython-36.pyc
framework/Database/DOC/DOC.csv
framework/Database/Network/frequencies.csv
framework/Database/Network/frequencies.npy
framework/Database/Network/pax.csv
framework/Database/Results/Aircrafts/acft_1222100_2021-12-05-1037.txt
framework/Database/Results/Kml/acft_1222100_2021-12-05-1037.kml
framework/Database/Results/Network/acft_1222100_2021-12-05-103701.csv
framework/Database/Results/Network/acft_1222100_2021-12-05-103702.csv
framework/Economics/__pycache__/__init__.cpython-36.pyc
framework/Economics/__pycache__/crew_salary.cpython-36.pyc
framework/Economics/__pycache__/direct_operational_cost.cpython-36.pyc
framework/Economics/__pycache__/revenue.cpython-36.pyc
framework/framework.log
framework/Network/__pycache__/__init__.cpython-36.pyc
framework/Network/__pycache__/network_optimization.cpython-36.pyc
framework/Network/network_optimization.py
framework/Noise/__pycache__/__init__.cpython-36.pyc
framework/Noise/Noise_Smith/__pycache__/__init__.cpython-36.pyc
framework/Noise/Noise_Smith/__pycache__/approach_EPNdB.cpython-36.pyc
framework/Noise/Noise_Smith/__pycache__/approach_noise.cpython-36.pyc
framework/Noise/Noise_Smith/__pycache__/approach_profile.cpython-36.pyc
framework/Noise/Noise_Smith/__pycache__/atmospheric_attenuation.cpython-36.pyc
framework/Noise/Noise_Smith/__pycache__/noise_airframe.cpython-36.pyc
framework/Noise/Noise_Smith/__pycache__/noise_calculation.cpython-36.pyc
framework/Noise/Noise_Smith/__pycache__/noise_engine.cpython-36.pyc
framework/Noise/Noise_Smith/__pycache__/noise_levels.cpython-36.pyc
framework/Noise/Noise_Smith/__pycache__/sideline_EPNdB.cpython-36.pyc
framework/Noise/Noise_Smith/__pycache__/takeoff_EPNdB.cpython-36.pyc
framework/Noise/Noise_Smith/__pycache__/takeoff_integration.cpython-36.pyc
framework/Noise/Noise_Smith/__pycache__/takeoff_noise.cpython-36.pyc
framework/Noise/Noise_Smith/__pycache__/takeoff_profile.cpython-36.pyc
framework/Optimization/objective_function.py
framework/Performance/__pycache__/__init__.cpython-36.pyc
framework/Performance/Analysis/__pycache__/__init__.cpython-36.pyc
framework/Performance/Analysis/__pycache__/balanced_field_length.cpython-36.pyc
framework/Performance/Analysis/__pycache__/buffet_altitude_constraint.cpython-36.pyc
framework/Performance/Analysis/__pycache__/climb_acceleration.cpython-36.pyc
framework/Performance/Analysis/__pycache__/climb_integration.cpython-36.pyc
framework/Performance/Analysis/__pycache__/climb_to_altitude.cpython-36.pyc
framework/Performance/Analysis/__pycache__/cruise_performance.cpython-36.pyc
framework/Performance/Analysis/__pycache__/descent_deceleration.cpython-36.pyc
framework/Performance/Analysis/__pycache__/descent_integration.cpython-36.pyc
framework/Performance/Analysis/__pycache__/descent_to_altitude.cpython-36.pyc
framework/Performance/Analysis/__pycache__/landing_field_length.cpython-36.pyc
framework/Performance/Analysis/__pycache__/maximum_range_cruise.cpython-36.pyc
framework/Performance/Analysis/__pycache__/missed_approach_climb.cpython-36.pyc
framework/Performance/Analysis/__pycache__/mission_altitude.cpython-36.pyc
framework/Performance/Analysis/__pycache__/residual_rate_of_climb.cpython-36.pyc
framework/Performance/Analysis/__pycache__/second_segment_climb.cpython-36.pyc
framework/Performance/Engine/__pycache__/__init__.cpython-36.pyc
framework/Performance/Engine/__pycache__/engine_performance.cpython-36.pyc
framework/Performance/Mission/__pycache__/__init__.cpython-36.pyc
framework/Performance/Mission/__pycache__/mission.cpython-36.pyc
framework/Performance/Mission/__pycache__/mission_sizing.cpython-36.pyc
framework/Performance/Mission/__pycache__/reserve_fuel.cpython-36.pyc
framework/Sizing/__pycache__/__init__.cpython-36.pyc
framework/Sizing/__pycache__/airplane_sizing_check.cpython-36.pyc
framework/Sizing/__pycache__/performance_constraints.cpython-36.pyc
framework/Sizing/Geometry/__pycache__/__init__.cpython-36.pyc
framework/Sizing/Geometry/__pycache__/area_triangle_3d.cpython-36.pyc
framework/Sizing/Geometry/__pycache__/fuselage_sizing.cpython-36.pyc
framework/Sizing/Geometry/__pycache__/landig_gear_position.cpython-36.pyc
framework/Sizing/Geometry/__pycache__/landing_gear_layout.cpython-36.pyc
framework/Sizing/Geometry/__pycache__/pax_cabine_length.cpython-36.pyc
framework/Sizing/Geometry/__pycache__/sizing_horizontal_tail.cpython-36.pyc
framework/Sizing/Geometry/__pycache__/sizing_landing_gear.cpython-36.pyc
framework/Sizing/Geometry/__pycache__/sizing_tail.cpython-36.pyc
framework/Sizing/Geometry/__pycache__/sizing_vertical_tail.cpython-36.pyc
framework/Sizing/Geometry/__pycache__/tailcone_sizing.cpython-36.pyc
framework/Sizing/Geometry/__pycache__/tire_selection.cpython-36.pyc
framework/Sizing/Geometry/__pycache__/wetted_area.cpython-36.pyc
framework/Sizing/Geometry/__pycache__/wetted_area_fuselage.cpython-36.pyc
framework/Sizing/Geometry/__pycache__/wetted_area_wing.cpython-36.pyc
framework/Sizing/Geometry/__pycache__/wing_structural_layout_fuel_storage.cpython-36.pyc
framework/Test/optimization_solution01.csv
framework/utilities/__pycache__/__init__.cpython-36.pyc
framework/utilities/__pycache__/logger.cpython-36.pyc
framework/utilities/__pycache__/output.cpython-36.pyc
framework/Weights/__pycache__/__init__.cpython-36.pyc
framework/Weights/__pycache__/center_of_gravity_position.cpython-36.pyc
framework/Weights/__pycache__/weights.cpython-36.pyc
